@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: rgb(23, 0, 54);
  border: 7px solid transparent;
  background-clip: padding-box;
  border-image: linear-gradient(to right, rgb(247, 10, 156), rgb(228, 20, 255), rgb(181, 26, 253), rgb(255, 12, 255), purple)1;
  border-image-slice: 1;
  padding: 8px;
  color: white;
  overflow-x: hidden;
}

.img-logo {
  transform: translateX(140%);
  border-radius: 50px;
  cursor: pointer;
  width: 70px;
  height: 70px;

}

.topo {
  width: 100%;
  height: 1010px;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
}

.btns {
  width: 15%;
  transform: translateX(260%);

}

.button2,
.button1 {
  background: #000000;
  color: rgb(255, 255, 255);
  border: 1px solid white;
  border-radius: 20px;
  height: 40px;
  width: 100px;
  font-weight: 600;
  margin-left: 5%;
  cursor: pointer;
}

.button2:hover,
.button1:hover {
  border: blueviolet;
  background: purple;
}

.h1-bv {


  color: #fff;
  font-family: monospace;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid purple;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  /* Adjust as needed */
  animation:
    typing 5s steps(30, end),
    blink-caret .6s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 20%
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: purple
  }
}

.sobre {
  width: 100%;
  height: 400px;
  margin-left: 5px;
}

.h3-sobre {
  left: 20px;
  font-weight: 200;
  font-size: 25px;
  margin-left: 5px;
  position: relative;
  top: 10px;
}

.explicacao {
  width: 70%;
  position: absolute;
  top: 100px;
  margin-left: 2%;
  margin-top: 5%;

}

.beneficios {
  height: 250px;
  width: 100%;
}

.h1-bene {
  left: 20px;
  font-weight: 500;
  font-size: 50px;
  margin-left: 2px;

}

.Serviços {
  margin-left: 5px;

}

.serv {
  margin-left: 5px;
  left: 20px;
  font-weight: 200;
  font-size: 25px;

}

.bemvindo {
  font-size: 30px;
  margin-left: 5px;
}

.Estamos {
  font-size: 30px;
  font-weight: 600;
}

h4 {
  font-size: large;
  align-items: center;
  justify-content: center;
}

.p {
  color: rgba(255, 255, 255, 0.678);
}

.sobre,
.beneficios {
  width: 70%;
  transform: translateY(30%);
  margin-left: 5px;
}

ol {
  width: 90vw;
  display: inline-flex;

}

.box {
  width: 400px;
  height: 250px;
  position: relative;
  border-radius: 10px;
  margin: 4%;
  color: #ffffff;
  border: solid 0.5px rgba(0, 0, 0, 0.61);
  padding: 12px;


}

.nerdola {
  width: 550px;
  transform: translate(210%, -70%);
  border: #000000;

}

.Prepare-se {
  margin-left: 5px;
}


.slider {
  overflow: hidden;
  width: 25%;
  height: 300px;
  transform: translateX(160%);
  border-radius: 10px;
  color: #ffffff;
  border: solid 0.5px rgba(0, 0, 0, 0.61);
  text-align: center;
  position: relative;
  padding-top:1% ;


}

.slider p {
  padding-left: 2%;
  width: 70%;
  text-align: center;
  margin-left: 17%;

}


.slider>.slider-content {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  transition: all 500ms ease;
  flex: 0 0 auto;

}

.slider-item {
  flex: 0 0 auto;
  width: 100%;
}

.slider>input:nth-child(1):checked~.slider-content {
  transform: translateX(0%);
}

.slider>input:nth-child(2):checked~.slider-content {
  transform: translateX(-100%);
}

.slider>input:nth-child(3):checked~.slider-content {
  transform: translateX(-200%);
}

.slider>input:nth-child(4):checked~.slider-content {
  transform: translateX(-300%);
}



@media(max-width:1200px){
  .topo{
    height: 900px;
  }
  nav{
    height: 70px;
  }

  .btns{
    display: flex;
    width: 100px;
  }

  .img-logo{
    transform: translate(1px, 2px);
    width: 60px;
    height: 60px;
  }
  .sobre,.beneficios  {
    height: 330px;
  }
  .sobre h1{
    font-size: 30px;
  }

  .nerdola{
    transform: translate(470px, -470px);
  }

  .Serviços{
   
    height: 810px;
  }

  .box{
    height: 450px;
    width: 500px;
  }

  .plan{
    height: 600px;
  }

  .slider{
    height: 440px;
  }

footer{
    width: 100vw;
    height: 351px;
    background-color: #111826;
    color: #ffffff;
    display: flex;
    flex-direction: column;

}
.email{
    width: 290px;
    height: 40px;
    position: relative;
    margin-top: 5rem;
    border-radius: 7px;

}

footer li{
    list-style: none;
}
.recursos a{
    color: white;
    text-decoration: none;
}
.Precos a{
    color: white;
}

.contato a{
    color: white;
}
.institucional a{

 color: seashell;
 text-decoration: none;
}

.esqueci{
    width: 100vw;
    height: 298px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.copy{
    width: 100vw;
}

.copy p{

    width: 100vw;
    height: 40px;
    text-align: center;
    margin-top: 6px;


}
.seta{
    color: white;
    position: relative;
    right:10%;
    bottom: 22%;   
}

.imgs{
    display: flex;
  justify-content: flex-start;
  right: 33%;
position: relative;
margin-top: 11px;

}
