@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    color: white;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header{border: 2px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    height: 10vh;
}

header .logo{
    display: flex;
    width: 30%;
    cursor: pointer;
}

header .img-logo{
    height: 4vh;
    padding-right: 1%; 
}

header nav{
    width: 40%;
}

header a{
    color: white;
    text-decoration: none;
    justify-content: space-between;
    padding-left: 2%;
}

.first{
    border: 2px solid orange;
    display: flex;
    justify-content: center;
    align-items: center;

}

.left{
    height: 30em;
    transform: translate(5%, -10%);
}

.first .text-left{
    width: 90%;
    margin-left: 5%;
    margin-top: 10%;
    justify-content: space-between;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-size: 15;

}

.text-left h1{
    font-size: 30;
}

.botao{
    height: 15%;
    width: 50%;
    margin-left:7%;
    display: flex;
}

.botao a{
    text-align: none;
    color: black;
}

.btn-pergunta{
    height: 50%;
    width: 35%;
    margin-top: 5%;
    margin-right: 4%;
    border: 2px solid black;
}

.first .img-right{
    height: 40em;
    margin-right: 4%;
    width: 85%;
}





